@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:ital,wght@0,400;0,700;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:ital,wght@0,400;0,700;1,700&family=Quattrocento+Sans&display=swap');

html,
body { padding: 0;
  margin: 0; 
  font-family: "Quattrocento Sans", sans-serif;
}

img {
  max-width: none !important;
  border-radius: 50%;
}

.app {
  background: url("./gradient-background.png") no-repeat center center fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-webkit-background-size: cover;
  -o-webkit-background-size: cover;
}